<div class="card animated fadeIn fast">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.name">
    <div class="card-body">
        <h5 class="card-title">{{ heroe.name }}</h5>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted"> {{ heroe.apparition }} </small></p>
        <button (click)="showHeroe()" type="button" class="btn btn-outline-success btn-block">
            Más info....
        </button>
    </div>
</div>