<h1 class="animated fadeIn fast">About App Comics </h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere numquam repellat, perferendis aut magni quis vero sit dignissimos facilis iusto veniam, ex illum! Cum architecto consectetur, suscipit molestiae dolorem saepe.
</p>