<div class="jumbotron animated fadeIn">
    <h1 class="display-4">Heroes App!</h1>
    <p class="lead">hero application, is a simple application in which data of some heroes is shown.</p>
    <hr class="my-4">
    <p>In this App it only aims to understand how it works and how to use the Angular framework.</p>
</div>