<h1>Super Heroes <small> DC & Marvel</small></h1>
<hr>
<div class="card-columns">
    <app-heroe-card (heroeSelected)="showHeroe( $event )" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index;"></app-heroe-card>
</div>