<h1>Resultado de busqueda con: <small> {{term}}</small></h1>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            No hay coincidencias con esta busqueda :(
        </div>
    </div>
</div>

<div class="card-columns">
    <app-heroe-card [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes;"></app-heroe-card>
</div>