<h1 class="animated fadeIn">{{ heroe.name | uppercase }} <small>({{ heroe.apparition | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.name">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-block btn-outline-primary">Return to heroes</a>
    </div>

    <div class="col-md-8">
        <h3>{{ heroe.name }}</h3>
        <hr>
        <p>
            {{ heroe.bio }}
        </p>
        <div class="">
            <img *ngIf="heroe.house == 'Marvel'" class="img-logo" src="assets/img/marvel-logo.png" alt="Marvel">
            <img *ngIf="heroe.house == 'DC'" class="img-logo" src="assets/img/dc-logo.png" alt="Marvel">
        </div>
    </div>
</div>